RewriteEngine On
RewriteCond %{HTTP:Authorization} .+
RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{HTTP:X-Auth-Token} .+
RewriteRule ^ - [E=HTTP_X_AUTH_TOKEN:%{HTTP:X-Auth-Token}]
